{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href={% static 'index.css' %}>
</head>
<body>
<a href=/><h1>{{title}}</h1></a>
<ul>
{% block tab %}
		{%for tab  in Tabs %}
		<li>
		<div class="dropdown">
			<button onclick="myFunction()" class={{tab}}>{{ tab }}</button>
		</div>
		<ul><li>
				{% if tab == 'Provisions' %}
					<div id="myDropdown" class="dropdown-content">	 
					{% block myDropdown %}
					{%for server in Tabs.Provisions.AppServers%}
					<a href={{ server }}  class='Provisions' >{{ server }}</a>
					{%endfor%}
					{% endblock myDropdown %}
					</div>
				{%endif%}		
		    
		    </li>
		</ul>
		</li>
		{%endfor%}	
{% endblock tab %}
</ul>



<html>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.Provisions')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
  if (!event.target.matches('.Logs')) 
{
	  }
  if (!event.target.matches('.settings')) {
	  
	  
  }
}
</script>

</body>
</html>